
body {
    font-family: "Open Sans";
    width: 1540px;
    height: 4068px;
    left: 190px;
}
.header-wrapper {
    display:inline-flex;
    margin-top: 30px;
    width: 1920px;
    height: 80px;
    align-items: baseline;
    justify-content: space-evenly
}
ul {
    display:inline-flex;
    list-style-type: none;
    justify-items: space-between;
    }
li {
        width: fit-content;
        margin-top: 14px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    li a{
        height: 20px;
        top: 30px;
        font-size: 15px;
        font-weight: 600;
        line-height: 20.43px;
        text-align: left;
        text-decoration-line: none;
        text-decoration-color: #1C1C1C;
        }
    .home {
        color: #3172B9;
    }

header button {
    width: 150px;
    height: 50px;
    top: 30px;
    left: 1205px;
    padding: 15px 35px 15px 35px;
    gap: 10px;
    border-radius: 3px 3px 3px 3px;
    border-width: 0px;
    background-color: #3172B9;
    color: white;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.43px;
    text-align: left;
    }
    .big_picture {
        background-image: url("./images/background.svg");
        background-repeat: no-repeat;
        background-position: left;
        width: 1540px;
        height: 550px;
        border-top: 1px;
        border-color: #faf3ebb3;
        padding-left: 185px;
        padding-top: 223px;
        }

        h1 {width: 529px;
            height: 104px;
            top: 223px;
            left: 185px;
            font-size: 40px;
            font-weight: 300;
            line-height: 52px;
            text-align: left;
        }
        .first_p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24.8px;
            text-align: left;
            width: 471px;
            height: 50px;
            top: 353px;
            left: 185px;
            padding-top: 20px;
            padding-bottom: 20px;
            }
            .button2 {
                display: block;
                width: 250px;
                height: 58px;
                top: 437px;
                left: 185px;
                padding: 15px 35px 15px 35px;
                border-radius: 3px 0px 0px 0px;
                background-color: #3172B9;
                font-family: Open Sans;
                font-size: 15px;
                font-weight: 600;
                line-height: 20.43px;
                text-align: center;
                color: white;
            }
            .secure {
                width: 170px;
                height: 17px;
                top: 509px;
                left: 225px;
                padding: 6px;
                display:flex;
                justify-content: space-between;
            }
           
            
            .ssc {
                width: 143x;
                font-size: 11px;
                font-weight: 400;
                line-height: 17.05px;
                text-align: left;
                color: #787878;
                }
    .Services {
        width: 1170px;
        height: 464px;
        top: 747px;
        left: 185px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        display:inline;
    }
       .h2 {
       display: flex;
       font-size: 36px;
       font-weight: 300;
       line-height: 46.8px;
       justify-content: center;
       color: #1C1C1C;
       }
       .lionic {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        text-align: center;
       }
       .pictures {
        display: flex;
        justify-content:space-evenly;
        margin-top: 50px;
    }
    .pict {
      width: 270px;
      height: 320px;
      /*top: 891px;
      left: 1085px;*/
      gap: 0px;
      border: 1px 1px 1px 1px;
      border-color: #787878;
      opacity: 0px;
      display: block;
      text-align: center;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        color: #1C1C1C;
        }
.Articles{
    display:inline-block;
    padding-left: 200px;
    padding-right: 200px;
    
}
        h2 {
            display:block;
            font-size: 36px;
            font-weight: 300;
            line-height: 46.8px;
            text-align: left;
}       

.juris {
    width: 570px;
    height: 180px;
    border-radius: 5px, 0px, 0px, 5px;
    border-width: 1px;
    display:contents;
}
.date {
color: #787878;
font-size: 10px;
font-weight: 400;
line-height: 15px;
text-align: left;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.description {
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

}
.Client {
    width: 370px;
    height: 362px;
    text-align: left;
}
h4 {
   font-size: 17px;
   font-weight: 600;
   line-height: 30.6px;
}
.round {
    width: 67px;
    height: 67px;
    border-radius: 50%;
}